.font-exo {
  font-family: "Exo" !important;
}

@font-face {
  font-family: Exo;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/Exo-Light.ttf") format("truetype");
}
@font-face {
  font-family: Exo;
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Exo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/Exo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Exo;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/Exo-SemiBold.ttf") format("truetype");
}
